body{
    background-color: azure;
    color: darkslateblue;
    margin: 6px;
    padding: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    header,
    footer{
text-align: right;
background-color: gainsboro;
    }
    h2,h3,h4{
color: crimson;
text-decoration-line: underline;
    }
    p{
        text-align: justify;
        text-indent: 8ch;
    }
   
   p::first-line{
    color: black;
   }
    p::first-letter{
        font-size: 120%;
        color: blueviolet;
        text-decoration-line: underline;
    }
            
            section:hover{
                background-color: antiquewhite;
            }