.myimage-div
{
    display: none;
}
a.myimage-ssilka:hover+div
{
    display: block;
}
aside{
    background: rgb(198, 234, 229);
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 18%;
    height: 1000px;
}